{% extends "layout.html" %}

{% block heading %}
    WalkSafe
{% endblock %}

{% block header2 %}
    Tracking run: "{{sessionname}}"
    <a class="btn btn-primary" href="logout.html" role="button" style="padding: 5px 10px; font-size: 14px; margin-left: 10px;">Logout</a>
	<a class="btn btn-primary" href="{{url_for('home')}}" role="button" style="padding: 5px 10px; font-size: 14px; margin-left: 10px;">Home</a>
{% endblock %}

{% block body %}

    <head>
        <title>Previous Run</title>
		<meta charset="UTF-8">
		<title>Delay CSV Reader</title>
		<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
		<script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<style>
		  body { margin:0; padding:0; }
		  #map {
			  width: 95%;
			  height: 500px;
			  margin-top: 20px;
			  margin-left: 20px;
			}
		</style>

    </head>
    <body>
		<h1>Here is your previous run!</h1>
		
		<div id='map'></div>
		
		<script>
			L.mapbox.accessToken = 'pk.eyJ1IjoiZmhvZGUxMjMiLCJhIjoiY2xmMW5uYWFuMDJscTQ0bnhvYjRrdTE5dSJ9.ZYEavyNFWMwOR8ChoNW4XA';
			var map = L.map('map').setView([51.0240, -114.0737], 11);
			
			var baseLayer = L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/satellite-v9/tiles/{z}/{x}/{y}?access_token=' + L.mapbox.accessToken, {
				attribution: 'Map data &copy; <a href="http://mapbox.com">Mapbox</a>'
			});
			
			var crimeLayer = L.tileLayer(
				'https://api.mapbox.com/styles/v1/fhode123/clg73fh1e000i01odlg8nluq1/tiles/{z}/{x}/{y}?access_token=' + L.mapbox.accessToken, {
					tileSize: 512,
					zoomOffset: -1,
					attribution: '© <a href="https://apps.mapbox.com/feedback/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
			});
			
			baseLayer.addTo(map);
			crimeLayer.addTo(map);
		
		</script>
		
		{% if rows %}

        <table>
            <tr>
                <th>Session</th>

            </tr>

            {% for row in rows %}
            <tr>
                <td><a href="{{ url_for('book', sessionid=row[3]) }}">{{row[3].split("(")[1].split(" ")[0] }}</a></td>
				<script> var marker = L.marker([{{row[3].split("(")[1].split(" ")[1] }}, {{row[3].split("(")[1].split(" ")[0] }}]).addTo(map); </script>
 
            </tr>
			
			
            {% endfor %}

        </table>

        {% else %}
            <p> You don't have any runs yet! </p>
        {% endif %}

    </body>
{% endblock %}