<!DOCTYPE html>
<html>
    <head>
        <title>Walksafe</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="styles.css">
    </head>
    <body>
		<h2> Welcome to Walksafe!</h2>
		
		<p> 
		New User? 
		<br>
		<a class="btn btn-primary" href="register.html" role="button">Register here!</a>
		<br>
		Or returning user?
		<br>
		<a class="btn btn-primary" href="login.html" role="button">Log in here!</a>
		</p>
		    
	</body>
</html>